{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid full-width">
        <div class="row">
            <div class="col-3 left-col-margin">
                <span></span>
            </div>
            <div class="col-6 standard-left-border margin-top">
                <p>Text about Planchest</p>
                <p>Reasons to join</p>
                <a href="{% url 'account_signup' %}">Register</a>
            </div>
        </div>
    </div>
{% endblock %}