{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border margin-top">
            <h1>Create a profile on Planchest</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            <form method="POST" action="{% url 'create_profile' %}">
                {% csrf_token %}
                <!-- Field 1 from User -->
                {{ user_form|crispy }}
                <!-- Field 2 from Designer -->
                {{ designer_form|crispy }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}