{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border margin-top">
            <h1 class="fixed-header">Create a Plan Chest profile</h1>
            <p>Create a profile to start selling your work as a designer,<br>or keep a record of your purchases as a customer</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border">
            <form method="POST" action="{% url 'create_profile' %}">
                {% csrf_token %}
                <!-- Field 1 from User -->
                {{ user_form|crispy }}
                <!-- Field 2 from Designer -->
                {{ designer_form|crispy }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}