{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width">
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-9 standard-left-border margin-top">
            <h1>Your order history</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            <!-- {% for details in orders %}
                <p class="p-without-margin">Order: {{ details.order_number }}</p>
                <p class="p-without-margin small-print">Ordered on: {{ details.date }}</p>
                <p class="p-without-margin small-print">Prints: {{ details.order_total }} SEK</p>
                <p class="p-without-margin small-print">Delivery Cost: {{ details.delivery_cost }} SEK</p>
                <p class="p-without-margin small-print">Total: {{ details.grand_total }} SEK</p>
                <p class="p-without-margin">Delivery Information</p>
                <p class="p-without-margin small-print">Address: {{ details.street_address_1 }}</p>
                <p class="p-without-margin small-print">Address: {{ details.street_address_2 }},</p>
                <p class="p-without-margin small-print">Order.town: {{ details.town }}</p>
                <p class="p-without-margin small-print">Order.country: {{ details.country }}</p>
                <p class="p-without-margin small-print">Order.postcode: {{ details.postcode }}</p>
                {% for item in orders.order.all %}
                    <p>{{ item.quantity }}</p>
                {% endfor %}
                <br>
            {% endfor %} -->
            {% for order in orders %}
                <p>Order number: {{ order.order_number }}</p>
                <p>Ordered on {{ order.date }}</p>
                <p>Shipped to {{ order.street_address_1 }}, {{ order.street_address_2 }}, {{ order.town }}, {{ order.country }}, {{ order.postcode }}</p>
                <p>Cost of print(s): {{ order.order_total }} SEK</p>
                <p>Delivery cost: {{ order.delivery_cost }} SEK</p>
                <p>Total: {{ order.grand_total }} SEK</p>
                {% for lineitem in order.lineitems.all %}
                    <div class="image-inline">
                        <img src="{{ lineitem.print_details.image.url }}" class="image-height">
                        <p class="small-print">{{ lineitem.print_details.title }}</p>
                        <p class="small-print">{{ lineitem.print_details.designer.first_name }} {{ lineitem.print_details.designer.last_name }}</p>
                        <p class="small-print">{{ lineitem.quantity }}</p>
                        <p class="small-print">{{ lineitem.lineitem_total }}</p>
                    </div>
                {% endfor %}
                <hr>
            {% endfor %}


            <!-- {% for item in line_items %}
                <a href=""><p class="p-without-margin">Order: {{ item.order.order_number }}</p></a>
                <p>Ordered on: {{ item.order.date }}</p>
                {% for images in line_items.print_details %}
                    <div class="image-inline">
                        <img class="image-height" src="{{ images.image.url }}"> -->
                        <!-- <p>{{ images.quantity }} x {{ images.price }} SEK</p> -->
                    <!-- </div>
                {% endfor %} -->
                <!-- <div class="image-inline">
                   
                </div> -->
            <!-- {% endfor %}  -->
        </div>
    </div>
</div>

    
{% endblock %}