{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border margin-top">
            <h1 class="fixed-header">Your order history</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border">
        {% if orders %}
            <p class="small-print">(Click on the order number to view and hide your order information)</p>
            {% for order in orders %}
            <div class="list-left-padding">
                <a class="btn order-button-margin" data-toggle="collapse" href="#collapse{{ order.order_number }}" role="button" aria-expanded="false" aria-controls="collapse{{ order.order_number }}">
                Order date:<strong> {{ order.date }}</strong>
                </a>                
                <div class="collapse" id="collapse{{ order.order_number }}">
                    <div class="offset-1">
                        <p>Order number: {{ order.order_number }}</p>
                        <p>Shipped to {{ order.street_address_1 }}, {{ order.street_address_2 }}, {{ order.town }}, {{ order.country }}, {{ order.postcode }}</p>
                        <p>Cost of print(s): {{ order.order_total }} SEK</p>
                        <p>Delivery cost: {{ order.delivery_cost }} SEK</p>
                        <p>Total: {{ order.grand_total }} SEK</p>
                        {% for lineitem in order.lineitems.all %}
                            <div class="image-inline">
                                <img src="{{ lineitem.print_details.image.url }}" class="image-height" alt="{{ lineitem.print_details.title }}">
                                <p class="small-print">{{ lineitem.print_details.title }}</p>
                                <p class="small-print">{{ lineitem.print_details.designer.first_name }} {{ lineitem.print_details.designer.last_name }}</p>
                                <p class="small-print">{{ lineitem.quantity }}</p>
                                <p class="small-print">{{ lineitem.lineitem_total }}</p>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>You have yet to make an order</p>
        {% endif %}
        </div>
    </div>
</div>

    
{% endblock %}