{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width">
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-9 standard-left-border margin-top">
            <h1>Your order history</h1>
            <p>Click on the order number to view and hide your order information</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            {% for order in orders %}
                <a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Order:<strong> {{ order.order_number }}</strong>
                </a>
                
                <div class="collapse" id="collapseExample">
                    <div class="offset-1">
                        <!-- <p>Order number: {{ order.order_number }}</p> -->
                        <p>Ordered on {{ order.date }}</p>
                        <p>Shipped to {{ order.street_address_1 }}, {{ order.street_address_2 }}, {{ order.town }}, {{ order.country }}, {{ order.postcode }}</p>
                        <p>Cost of print(s): {{ order.order_total }} SEK</p>
                        <p>Delivery cost: {{ order.delivery_cost }} SEK</p>
                        <p>Total: {{ order.grand_total }} SEK</p>
                        {% for lineitem in order.lineitems.all %}
                            <div class="image-inline">
                                <img src="{{ lineitem.print_details.image.url }}" class="image-height">
                                <p class="small-print">{{ lineitem.print_details.title }}</p>
                                <p class="small-print">{{ lineitem.print_details.designer.first_name }} {{ lineitem.print_details.designer.last_name }}</p>
                                <p class="small-print">{{ lineitem.quantity }}</p>
                                <p class="small-print">{{ lineitem.lineitem_total }}</p>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <!-- {% for order in orders %}
                <p>Order number: {{ order.order_number }}</p>
                <p>Ordered on {{ order.date }}</p>
                <p>Shipped to {{ order.street_address_1 }}, {{ order.street_address_2 }}, {{ order.town }}, {{ order.country }}, {{ order.postcode }}</p>
                <p>Cost of print(s): {{ order.order_total }} SEK</p>
                <p>Delivery cost: {{ order.delivery_cost }} SEK</p>
                <p>Total: {{ order.grand_total }} SEK</p>
                {% for lineitem in order.lineitems.all %}
                    <div class="image-inline">
                        <img src="{{ lineitem.print_details.image.url }}" class="image-height">
                        <p class="small-print">{{ lineitem.print_details.title }}</p>
                        <p class="small-print">{{ lineitem.print_details.designer.first_name }} {{ lineitem.print_details.designer.last_name }}</p>
                        <p class="small-print">{{ lineitem.quantity }}</p>
                        <p class="small-print">{{ lineitem.lineitem_total }}</p>
                    </div>
                {% endfor %}
                <hr>
            {% endfor %} -->
        </div>
    </div>
</div>

    
{% endblock %}