{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- To look at later -->
{% endblock %}

{% block content %}
   <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Please fill out the form below to complete your order</p>
            </div>
        </div>
   </div>
{% endblock %}

