@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

/* General */
.header-logo {
    font-family: 'IM Fell Double Pica', serif;
    font-style: italic;
    font-size: 50px;
    width: 25%;
    padding-left: 2vw;
    padding-top: 3vh;
}

.navbar-padding-top {
    padding-top: 5vh;
}

.footer-text a {
    font-size: 16px;
    font-weight: 600;
    padding: 2vh 0;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, 50%, white)
}

/* To stretch divs without much in them */
.body-height {
    min-height: 90vh;
}
.white-background {
    background: linear-gradient(to top, transparent, 10%, white)
}
/* To make divs go to the edge */
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

/* Borders between divs and elements */
.header-underline {
    border-bottom: solid 1px black;
}

.raised-dropdown {
    z-index: 999999999;
}

/* Borders between divs */
.nav-left-border {
    border-left: solid 1px black;
    margin-bottom: 8px;
}

.nav-right-border {
    border-right: solid 1px black;
}

.footer-border {
    margin-top: 8px;
    border-top: solid 1px black;
}

.standard-left-border {
    border-left: solid 1px black;
}

.left-col-margin {
    margin-right: 7px;
}

.margin-top {
    margin-top: 8px;
    position: static;
}

/* To make the navbar stick to the top of the screen */
.fixed-top {
    z-index: 4;
    display: block;
    top: 0;
    position: fixed;
    /* position: -webkit-sticky; */
}

.container-top-padding {
    padding-top: 131px;
}


/* Fonts across page */
h1, h3, h4, p, label, select, legend, small {
    font-family: 'Crimson Text', serif;
}

legend {
    font-size: 16px;
}

a {
    color: black !important;
    font-weight: 600;
    font-family: 'Crimson Text', serif;
}

/* label {
    font-family: 'Crimson Text', serif;
} */

.small-print {
    font-size: 10px;
    color: grey;
    margin-bottom: 0px !important;
}

input, button {
    font-family: 'Crimson Text', serif !important;
}


/* Button styling */
button {
    color: red;
    background-color: black;
}

.form-check-input {
    background-color: black !important;
}

/* Designer Listings to display <p> tags closer to each other */
.p-without-margin {
    margin-bottom: 0px !important;
}


/* Images of prints */
.image-height {
    height: 25vh;
    width: 20vh;
    object-fit: cover;
    margin: 3px;
}

/* On bag page */
.image-width {
    width: 10vw;
    margin-bottom: 10px;
}

.align-right {
    text-align: right
}

.big-image {
    width: 100%;
    height: auto;
}

.image-inline {
    display: inline-block;
}

/* Toast Styling */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}