@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');


/* GENERAL */

/* Navbar */
.header-logo {
    font-family: 'IM Fell Double Pica', serif;
    font-style: italic;
    font-size: 50px;
    width: 25%;
    padding-left: 2vw;
    padding-top: 3vh;
}

.navbar-padding-top {
    padding-top: 5vh;
}

.header-underline {
    border-bottom: solid 1px black;
}

/* To make the navbar stick to the top of the screen */
.fixed-top {
    z-index: 4;
    display: block;
    top: 0;
    position: fixed;
}


/* Footer styling */
.footer-text a {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 10px 0;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, 50%, white)
}

.white-background {
    background: linear-gradient(to top, transparent, 10%, white)
}


/* Borders between divs */
.nav-left-border {
    border-left: solid 1px black;
    margin-bottom: 8px;
}

.nav-right-border {
    border-right: solid 1px black;
}

.footer-border {
    margin-top: 8px;
    border-top: solid 1px black;
}

.standard-left-border {
    border-left: solid 1px black;
}

.left-col-margin {
    margin-right: 7px;
}

.margin-top {
    margin-top: 8px;
    position: static;
}

/* To make divs go to the edge */
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}


/* Space above top header */
.container-top-padding {
    padding-top: 131px;
}


/* Font styling across page */
h1, h3, h4, p, label, select, legend, small {
    font-family: 'Crimson Text', serif;
}

legend {
    font-size: 16px;
}

a {
    color: black !important;
    font-weight: 600;
    font-family: 'Crimson Text', serif;
}

.small-print {
    font-size: 10px;
    color: grey;
    margin-bottom: 0px !important;
}

input, button {
    font-family: 'Crimson Text', serif !important;
}


/* Button styling */
button {
    color: red;
    background-color: black;
}

.form-check-input {
    background-color: black !important;
}


/* DESIGNERS PAGES  */

/* Designer Listings to display <p> tags closer to each other */
.p-without-margin {
    margin-bottom: 0px !important;
}

/* Designers' names in list */
.designer-name {
    /* font-family: 'IM Fell Double Pica', serif; */
    /* font-style: italic; */
}


/* PRINTS PAGES  */

/* Images of prints */
.image-height {
    height: 25vh;
    width: 20vh;
    object-fit: cover;
    margin: 3px;
}

/* Individual print detail */
.big-image {
    width: 100%;
    height: auto;
}

.image-inline {
    display: inline-block;
}


/* BAG PAGE */

/* Images on bag page */
.image-width {
    width: 10vw;
    margin-bottom: 10px;
}

.align-right {
    text-align: right
}


/* ORDER HISTORY PAGE */
.list-left-padding {
    margin-left: none;
}


/* Toast Styling */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 910px) {
    .header-logo {
        padding-top: 0px;
        font-size: 45px;
    }

    .nav-right-border {
        border-right: 0px;
    }

    .container-top-padding {
        padding-top: 93px;
    }
}

@media only screen and (max-width: 768px) {
    /* Reduced header sizes */
    .fixed-header {
        font-size: 30px;
        font-weight: 600;
    }

    /* Putting padding around the dropdown menu */
    .navbar-toggler {
        margin-right: 30px;
        border-radius: 0px;
        border: 1px solid black;
    }

    /* Items in dropdown menu */
    .nav-link {
        text-align: right;
        font-weight: 600;
        font-size: 14px;
    }

    /* Space between dropdown items and button */
    .navbar-collapse {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .nav-link {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 625px) {
    /* Removing the border next to the left column */
    .standard-left-border {
        border-left: 0px;
    }
}

@media only screen and (max-width: 475px) {
    /* Increasing image sizes on smallest screens */
    .image-height {
        width: 75vw;
        height: 40vh;
        object-fit: cover
    }
}

@media screen and (max-width: 710px) and (min-width: 576px) {
    /* Increasing image sizes on smallest screens */
    .image-height {
        width: 200px;
        height: 25vh;
        object-fit: cover;
    }
}

@media only screen and (max-width: 576px) {
    /* Leftargin on large image text */
    .left-sm-spacing {
        margin-left: 10vw;
    }

    /* Br disappear on large image page */
    .small-br-none {
        display: none;
    }

    .bag-item-border {
        border-bottom: solid 1px black;
        margin-top: 5px;
    }

    .designer-description {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .designer-description-image {
        width: 40%;
        height: 25vh;
        content: cover;
    }
}