{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border margin-top">
            <h1 class="fixed=-header">Designers on Planchest</h1>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border">
            <p><a href="{% url 'all_designers_alphabetical' %}">Sort alphabetically (last name)</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border">
            {% for designers in designers %}
                <h3 class="designer-name"><a href="{% url 'individual_designer' designers.id %}">{{ designers.first_name }} {{ designers.last_name }}<p class="small-print">(Click to see {{ designers.first_name }}'s work on Plan Chest)</p></a></h3>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}