{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border margin-top">
            <h1 class="fixed=-header">Designers on Planchest</h1>
        </div>
    </div>
    <div class="row">
         <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            <p><a href="{% url 'all_designers_alphabetical' %}">Sort alphabetically</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            {% for designers in designers %}
                <p><a href="{% url 'individual_designer' designers.id %}">{{ designers.first_name }} {{ designers.last_name }}</a></p>
                <p>ID: {{ designers.id }}</p>
                <!-- <p class="p-without-margin">About: {{ designers.bio }}</p>
                <p class="p-without-margin">Country: {{ designers.country }}</p>
                <p class="p-without-margin">Contact: {{ designers.user.email }}</p> -->
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}