{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width">
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-9 standard-left-border margin-top">
            <h1>Designers on Planchest</h1>
        </div>
    </div>
    <div class="row">
         <div class="col-3">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            <p><a href="{% url 'all_designers' %}">Back to previous view</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            {% for designers in designers %}
                <p><a href="{% url 'individual_designer' designers.id %}"> {{ designers.first_name }} {{ designers.last_name }}</a></p>
                <!-- <p>ID NO: {{ designers.id }}</p>
                <p>About {{ designers.first_name }} {{ designers.last_name }}: {{ designers.bio }}</p>
                <p>Country: {{ designers.country }}</p>
                <p>Contact: {{ designers.user.email }}</p> -->
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}