{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-6 col-9 standard-left-border margin-top">
             <h1 class="fixed-header">{{ the_designer.first_name }} {{ the_designer.last_name }}</h1>
        </div>
    </div>
    <div class="row stretch-row-middle">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>
        <div class="col-sm-4 col-7 standard-left-border">
            <p class="designer-description">{{ the_designer.bio }}</p>
            <p class="designer-description">Country: {{ the_designer.country }}</p>
            <p class="designer-description image-inline">Contact:</p><a href="mailto:{{ the_designer.user.email }}" target="_blank"> {{ the_designer.user.email }}</a>
            <p class="designer-description"><a href="{% url 'all_designers' %}"><i class="fas fa-arrow-left"></i> Back to designers</a></p>
        </div>
        <div class="col-sm-4 col-10 left-sm-spacing">
            {% for prints in prints %}
                <a href="{% url 'large_print' prints.id %}"><img src="{{ prints.image.url }}" class="image-height designer-description-image" alt="{{ prints.title }}"></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}