{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>

        <div class="col-sm-6 col-9 standard-left-border">
            <h1 class="fixed-header">{% trans "Account Inactive" %}</h1>

            <p>{% trans "This account is inactive." %}</p>
        </div>
    </div>
{% endblock %}
