{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row stretch-row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>

        <div class="col-sm-6 col-9 standard-left-border">
            <h1 class="fixed-header">{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
