{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-sm-3 col-1 left-col-margin">
            <span></span>
        </div>

        <div class="col-sm-6 col-9 standard-left-border">
            <h1 class="fixed-header">{% trans "Sign Up Closed" %}</h1>

            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock %}
