{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9 offset-3">
            <h1>Prints grouped by designer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-9 offset-3">
            <!-- <p>Sort by: <a href="{% url 'prints_by_designer' %}">Designer</a> <a href="{% url 'prints_by_price' %}">Price</a></p> -->
            <p><a href="{% url 'all_prints' %}">Go back to all prints</a> or <a href="{% url 'prints_by_price' %}">or view prints by ascending price</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-9 offset-3">
            {% for print in prints %}
                <div class="image-inline">
                <a href="{% url 'large_print' print.id %}"><img src="{{ print.image.url }}" class="image-height"></a>
                <p class="small-print">{{ print.designer.first_name }} {{ print.designer.last_name }},<br> {{ print.title }},<br> {{ print.size }},<br> {{ print.price }}SEK</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}