{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-width container-top-padding">
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border margin-top">
            <h1>Prints in ascending price</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-8 standard-left-border">
            <p><a href="{% url 'all_prints' %}">Go back to all prints</a> or <a href="{% url 'prints_by_designer' %}">or group prints by designer</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 left-col-margin">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            {% for print in prints %}
                <div class="image-inline">
                    <a href="{% url 'large_print' print.id %}"><img src="{{ print.image.url }}" class="image-height"></a>
                    <p class="small-print">{{ print.designer.first_name }} {{ print.designer.last_name }},<br> {{ print.title }},<br> {{ print.size }},<br> {{ print.price }}SEK</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}