{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>All work on Planchest page</h1>
<div class="container">
    <div class="row">
        <p>Sort by: <a href="{% url 'prints_by_designer' %}">Designer</a> <a href="{% url 'prints_by_price' %}">Price</a></p>
    </div>
    <div class="row">
        <div class="col-12">
            {% for print in prints %}
                <a href="{% url 'large_print' print.id %}"><img src="{{ print.image.url }}" class="image-height"></a>
                <p>{{ print.id }}</p>
                <p class="small-print">{{ print.designer.first_name }} {{ print.designer.last_name }},<br> {{ print.title }},<br> {{ print.size }},<br> {{ print.price }}SEK</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}