{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-9 standard-left-border margin-top">
            <h1>Edit {{ print.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <span></span>
        </div>
        <div class="col-6 standard-left-border">
            <p class="small-print">You are editing this print:</p>
            <img src="{{ print.image.url }}" class="image-height">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                {{ form|crispy }}
                <button type="submit">Update Item</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}