{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9 offset-3">
            <h1>{{ print.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <img src="{{ print.image.url }}" class="big-image">
        </div>
        <div class="col-3">
            <p class="small-print">{{ print.designer.first_name }} {{ print.designer.last_name }},<br> {{ print.size }},<br> {{ print.prie }} SEK</p>
            <p class="small-print">
                {{ print.designer.bio }}
            </p>
            <br>
            {% if designer_id == print.designer.id %}
                <p>If you're {{ print.designer.first_name }} you can <a href="{% url 'edit_print' print.id %}">edit this print</a> or <a href="{% url 'delete_print' print.id %}">delete it</a> here</p>
            {% else %}
                <p><a href="{% url 'individual_designer' print.designer.id %}"><strong>See more of {{ print.designer.first_name }} {{ print.designer.last_name }}'s work</strong></a></p>
                <br>
                <p><a href="{% url 'all_prints' %}"><strong>Back to all prints</strong></a></p>
                <br>

                <!-- Form to add a print to bag -->
                <form class="form" action="{% url 'add_print_to_bag' print.id %}" method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p>Quantity:</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" data-item_id="{{ print.id }}" id="decrement-qty_{{ print.id }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ print.id }}" id="id_qty_{{ print.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                        data-item_id="{{ print.id }}" id="increment-qty_{{ print.id }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn btn-black" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            {% endif %}   
        </div>
    </div>    
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'prints/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}