{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>All work on Planchest page</h1>
    <a href=""><img src="{{ print.image.url }}" class="image-height"></a>
    <p class="small-print">{{ print.designer.first_name }} {{ print.designer.last_name }},<br> {{ print.title }},<br> {{ print.size }}</p>
    <!-- NEED TO CORRECT AS CAN'T VIEW IF NOT LOGGED IN -->
    {% if designer_id == print.designer.id %}
        <p><a href="{% url 'edit_print' print.id %}">Edit Print</a>, 
        <a href="{% url 'delete_print' print.id %}">Delete</a></p>    
    {% endif %}
    <p><a href="{% url 'individual_designer' print.designer.id %}">See all of {{ print.designer.first_name}} {{ print.designer.last_name }}'s work</a></p>

    <!-- Form to add product to bag -->
    <p>{{ print.bio }}</p>
    <form class="form" action="{% url 'add_print_to_bag' print.id %}" method="POST">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-12">
                <p>Quantity:</p>
                <div class="input-group">
                    <!-- <div class="input-group-prepend">
                        <button class="decrement-qty btn btn-sm btn-black rounded-0" data-item_id="{{ print.id }}" id="decrement-qty_{{ print.id }}">
                            <span>
                                <i class="fas fa-minus fa-sm"></i>
                            </span>
                        </button>
                    </div>
                    <input class="form-control form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ print.id }}" id="id_qty_{{ print.id }}">
                    <div class="input-group-append">
                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                            data-item_id="{{ print.id }}" id="increment-qty_{{ print.id }}">
                            <span>
                                <i class="fas fa-plus fa-sm"></i>
                            </span>
                        </button>
                    </div> -->
                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ print.id }}" id="id_qty_{{ print.id }}">
                </div>
            </div>
            <div class="col-12">
                <p><a href="{% url 'all_prints' %}" class="btn">Back to all prints</a></p>
                <input type="submit" class="btn btn-black" value="Add to Bag">
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </form>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'prints/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}